<ion-header>
  
  <ion-toolbar>
    <ion-title>Mechanic Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="/assets/m3.png" style= "width:310px;height:150px;" />
    <ion-card-header>
      <ion-card-subtitle>Mechanic Shop</ion-card-subtitle>
      <ion-card-title>VPX Batangas City - Ang Casa Alternatibo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <b>ADDRESS</b> 
      <br>
      Batangas - Tabangao - Lobo Rd, Batangas
      <br>
      <b>SERVICES</b> 
      <br>
      Electrical repair
      <br>
      Engine repair
      <br>
      General repairs & maintenance
      <br>
      Steering & suspension repair
      <br>
      Wheel alignment
      <br>
      Car Repairs
      <br>
      <b>CONTACT NUMBER</b>
      <br>
      0927 558 1126
      <br>
      <br>
      <center><ion-button href="dash1" slot = "end" style=" border-radius:50%; width:170px;height:40px;"> BACK </ion-button></center>
    
    </ion-card-content>
  </ion-card>
  </ion-content>