<style>
  div{
    text-align: center;
  }
  ion-content{
    --background: #B210DD;
  }
  ion-content {
    --background: url(../../assets/2.jpg) no-repeat center/cover fixed;
}
</style>



  



<ion-content [translucent]> 
  <h1 ><center>WELCOME</center></h1>
  <br>
  <center><Img src="/assets/ME.jpg" style=" border-radius:100%;float:center; width:100px;height:100px;"><center>

  <ion-card-content>

    <ion-label position="floating"><h2 style="color:rgb(7, 8, 8)"><b>Email</b></h2></ion-label>
    <ion-item>
      <ion-input type="email"></ion-input>
    </ion-item>
    <br>
      <ion-label position="floating"><h2 style="color:rgb(10, 12, 12)"><b>Password</b></h2></ion-label>
    <ion-item>
      <ion-input type="password"></ion-input>
    </ion-item>
    <br>

<br>
<center><ion-button href="dash1" style=" border-radius:50%;float:center; width:100px;height:40px;"> Log In</ion-button></center>





  

  


    