<style>
  div{
    text-align: center;
  }
  ion-content{
    --background: #dba879;
  }
  ion-content {
      --background: url(../../assets/2.jpg) no-repeat center/cover fixed;
 }
  ion-item{
      --background: #f9dbbf;
    
  }
  ion-content {
      --background: url(../../assets/2.jpg) no-repeat center/cover fixed;
 }
  ion-button {
    --background: #f9dbbf;
  }
  ion-toolbar {
    --background: #f9dbbf;
  }

</style>

  
     
<ion-content [translucent]> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="dash"> Back </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button href="home"> Log Out </ion-button>
    </ion-buttons>

    <center><ion-title><h5><b>Mechanic List</b></h5></ion-title></center>
  </ion-toolbar>
  


            <ion-item>
              
              <ion-avatar slot="start">
                <img src="/assets/m1.jpg" />
              </ion-avatar>
              <ion-label>
                <h2>865 National Road, Batangas, 4200 Batangas</h2>
                <a href="gmech1" class="button">Rapidé Balagtas Batangas</a>
              </ion-label>
            </ion-item>
  
            <ion-item>
              <ion-avatar slot="start">
                <img src="/assets/m2.jpg" />
              </ion-avatar>
              <ion-label class="button">
                <h2>National Highway, Bolbok Batangas</h2>
                <a href="gmech2" class="button">NEW VCT BATANGAS MARKETING, INC.</a>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="/assets/m3.png" />
              </ion-avatar>
              <ion-label>
                <h2>Batangas - Tabangao - Lobo Rd, Batangas</h2>
                <a href="gmech3" class="button">VPX Batangas City - Ang Casa Alternatibo</a>
              </ion-label>
            </ion-item>
  
            <ion-item>
              <ion-avatar slot="start">
                <img src="/assets/m4.jpg" />
              </ion-avatar>
              <ion-label>
                <h2>M. P. Conti Road, San Pascual, 4204 Batangas</h2>
                <a href="gmech4" class="button">CJ's Auto Repair Shop and Auto Supply</a>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="/assets/m5.png" />
              </ion-avatar>
              <ion-label>
                <h2>Q3RH+QQC, Batangas</h2>
                <a href="gmech5" class="button">Manny Autoshop</a>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="/assets/m6.jpg" />
              </ion-avatar>
              <ion-label>
                <h2>Q3H8+4RH, National Road, Barangay Alangilan, Batangas, 4200 Batangas</h2>
                <a href="gmech6" class="button">Zafra Motors</a>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="/assets/m7.png" />
              </ion-avatar>
              <ion-label>
                <h2>Q34C+68H, National Hwy, Batangas, 4200 Batangas</h2>
                <a href="gmech7" class="button">Speedpro Auto Care center - Car Repair Batangas City</a>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="/assets/m8.jpg" />
              </ion-avatar>
              <ion-label>
                <h2>Q2FW+PPP, National Rd, Brgy Bolbok, Batangas, 4200 Batangas</h2>
                <a href="gmech8" class="button">Bg Buddy's Garage</a>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="/assets/m9.png" />
              </ion-avatar>
              <ion-label>
                <h2>1960 Tolentino Rd, Batangas, 4200 Batangas</h2>
                <a href="gmech9" class="button">Gawa Agad D. Dimaandal Car Care Center</a>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="/assets/m10.jpg" />
              </ion-avatar>
              <ion-label>
                <h2>481 National Road, Batangas</h2>
                <a href="gmech10" class="button">Advancedtech Car Service Center Co.</a>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="/assets/m11.jpg" />
              </ion-avatar>
              <ion-label>
                <h2>Q39C+9FP, Gov. Antonio Carpio Rd, Batangas</h2>
                <a href="gmech11" class="button">Aguarin Auto Body Paint and Repair Shop</a>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="/assets/m12.jpg" />
              </ion-avatar>
              <ion-label>
                <h2>JP Laurel National Highway Brgy, Batangas, 4200 Batangas</h2>
                <a href="gmech12" class="button">E-Autotech Goodyear Autocare Batangas City</a>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="/assets/m13.jpg" />
              </ion-avatar>
              <ion-label>
                <h2>Western Nautical Highway, Rizal Avenue Ext.,Batangas</h2>
                <a href="gmech13" class="button">Roel Auto Electrical Shop</a>
              </ion-label>
            </ion-item>
        

  


    