<ion-header>
  
  <ion-toolbar>
    <ion-title>Mechanic Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="/assets/m10.jpg" style= "width:310px;height:150px;" />
    <ion-card-header>
      <ion-card-subtitle>Mechanic Shop</ion-card-subtitle>
      <ion-card-title>Advancedtech Car Service Center Co.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="home-outline"></ion-icon>
      <b>ADDRESS</b> 
      <br>
      481 National Road, Batangas
      <br>
      <ion-icon name="car-sport-outline"></ion-icon>
      <b>SERVICES</b> 
      <br>
      Steering & suspension repair
      <br>
      Auto body & trim repair
      <br>
      Auto brake repair 
      <br>
      Auto exhaust system repair
      <br>
      Auto power window repair
      <br>
      Auto water leak repair
      <br>
      Electrical repair
      <br>
      Engine repair
      <br>
      General repairs & maintenance
      <br>
      Transmission repair
      <br>
      Vehicle Inspection
      <br>
      <ion-icon name="call-outline"></ion-icon>
      <b>CONTACT NUMBER</b>
      <br>
      0917 504 8461
      <br>
      <br>
      <center><ion-button href="dash1" slot = "end" style=" border-radius:50%; width:170px;height:40px;"> BACK </ion-button></center>
    
    </ion-card-content>
  </ion-card>
  </ion-content>
