<ion-header>
  
  
  <ion-toolbar>
    <ion-title>Mechanic Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="/assets/m1.jpg" style= "width:310px;height:150px;" />
    <ion-card-header>
      <ion-card-subtitle>Mechanic Shop</ion-card-subtitle>
      <ion-card-title>Rapidé Balagtas Batangas - Auto Service, Car Repair</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <b>ADDRESS</b> 
      <br>
      865 National Road, Batangas, 4200 Batangas
      <br>
      <b>SERVICES</b>
      <br>
      Abs service & repair
      <br>
      Brake service & repair
      <br>
      Clutches & transmissions service & repair
      <br>
      Electrical repair
      <br>
      Electrical system service & repair
      <br>
      Engine repair
      <br>
      Tire rotations 
      <br>
      Wheel alignment
      <br>
      <b>CONTACT NUMBER</b>
      <br>
       0906 766 0966
       <br>
       <br>
       <center><ion-button href="dash1" slot = "end" style=" border-radius:50%; width:170px;height:40px;"> BACK </ion-button></center>
    </ion-card-content>
  </ion-card>
</ion-content>


