<ion-header>
  
  <ion-toolbar>
    <ion-title>Mechanic Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="/assets/m7.png" style= "width:310px;height:150px;" />
    <ion-card-header>
      <ion-card-subtitle>Mechanic Shop</ion-card-subtitle>
      <ion-card-title>Speedpro Auto Care center - Car Repair Batangas City</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="home-outline"></ion-icon>
      <b>ADDRESS</b> 
      <br>
      Q34C+68H, National Hwy, Batangas, 4200 Batangas
      <br>
      <ion-icon name="car-sport-outline"></ion-icon>
      <b>SERVICES</b> 
      <br>
      Repair Service
      <br>
      <ion-icon name="call-outline"></ion-icon>
      <b>CONTACT NUMBER</b>
      <br>
      (043) 722 2868
      <br>
      <br>
      <center><ion-button href="dash1" slot = "end" style=" border-radius:50%; width:170px;height:40px;"> BACK </ion-button></center>
    
    </ion-card-content>
  </ion-card>
  </ion-content>
