<ion-header>
  
  <ion-toolbar>
    <ion-title>Mechanic Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="/assets/m5.png" style= "width:310px;height:150px;" />
    <ion-card-header>
      <ion-card-subtitle>Mechanic Shop</ion-card-subtitle>
      <ion-card-title>Manny Autoshop</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <b>ADDRESS</b> 
      <br>
      Q3RH+QQC, Batangas
      <br>
      <b>SERVICES</b> 
      <br>
      Repair Service
      <br>
      <b>CONTACT NUMBER</b>
      <br>
      0917 801 4349
      <br>
      <br>
      <center><ion-button href="dash1" slot = "end" style=" border-radius:50%; width:170px;height:40px;"> BACK </ion-button></center>
    
    </ion-card-content> 
</ion-card>
  </ion-content>
