<style>
  div{
    text-align: center;
  }
  ion-content{
    --background: #B210DD;
  }
  ion-content {
    --background: url(../../assets/2.jpg) no-repeat center/cover fixed;
}
</style>


<ion-header [translucent]="true">
  
  
</ion-header>


<ion-content [translucent]> 
  <h1 style="color:rgb(9, 11, 11)"><center>ROCK 'N ROAD</center></h1>
  <br>
  <br>
  <center><Img src="/assets/ME.jpg" style=" border-radius:100%;float:center; width:150px;height:150px;"><center>
  
<br>
<br>
<br>
<br>
<center><ion-button href="dash" style=" border-radius:50%;float:center; width:170px;height:40px;"> LOG IN</ion-button></center>
<center><ion-button href="reg" style=" border-radius:50%;float:center; width:170px;height:40px;"> SIGN UP</ion-button></center>






  

  


    